@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Inter', system-ui, sans-serif;
}

.maplibregl-map {
  width: 100%;
  height: 100%;
}

.maplibregl-popup-content {
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: 'Inter', system-ui, sans-serif;
}

.maplibregl-ctrl-group {
  border-radius: 0.5rem !important;
  overflow: hidden;
}

.maplibregl-ctrl-group button {
  width: 40px !important;
  height: 40px !important;
}
